// color palettes
$blue: #1890ff;
$blue-1: colorPalette($blue, 1);
$blue-2: colorPalette($blue, 2);
$blue-3: colorPalette($blue, 3);
$blue-4: colorPalette($blue, 4);
$blue-5: colorPalette($blue, 5);
$blue-6: $blue;
$blue-7: colorPalette($blue, 7);
$blue-8: colorPalette($blue, 8);
$blue-9: colorPalette($blue, 9);
$blue-10: colorPalette($blue, 10);

$purple: #722ed1;
$purple-1: colorPalette($purple, 1);
$purple-2: colorPalette($purple, 2);
$purple-3: colorPalette($purple, 3);
$purple-4: colorPalette($purple, 4);
$purple-5: colorPalette($purple, 5);
$purple-6: $purple;
$purple-7: colorPalette($purple, 7);
$purple-8: colorPalette($purple, 8);
$purple-9: colorPalette($purple, 9);
$purple-10: colorPalette($purple, 10);

$cyan: #13c2c2;
$cyan-1: colorPalette($cyan, 1);
$cyan-2: colorPalette($cyan, 2);
$cyan-3: colorPalette($cyan, 3);
$cyan-4: colorPalette($cyan, 4);
$cyan-5: colorPalette($cyan, 5);
$cyan-6: $cyan;
$cyan-7: colorPalette($cyan, 7);
$cyan-8: colorPalette($cyan, 8);
$cyan-9: colorPalette($cyan, 9);
$cyan-10: colorPalette($cyan, 10);

$green: #52c41a;
$green-1: colorPalette($green, 1);
$green-2: colorPalette($green, 2);
$green-3: colorPalette($green, 3);
$green-4: colorPalette($green, 4);
$green-5: colorPalette($green, 5);
$green-6: $green;
$green-7: colorPalette($green, 7);
$green-8: colorPalette($green, 8);
$green-9: colorPalette($green, 9);
$green-10: colorPalette($green, 10);

$magenta: #eb2f96;
$magenta-1: colorPalette($magenta, 1);
$magenta-2: colorPalette($magenta, 2);
$magenta-3: colorPalette($magenta, 3);
$magenta-4: colorPalette($magenta, 4);
$magenta-5: colorPalette($magenta, 5);
$magenta-6: $magenta;
$magenta-7: colorPalette($magenta, 7);
$magenta-8: colorPalette($magenta, 8);
$magenta-9: colorPalette($magenta, 9);
$magenta-10: colorPalette($magenta, 10);

// alias of magenta
$pink: #eb2f96;
$pink-1: colorPalette($pink, 1);
$pink-2: colorPalette($pink, 2);
$pink-3: colorPalette($pink, 3);
$pink-4: colorPalette($pink, 4);
$pink-5: colorPalette($pink, 5);
$pink-6: $pink;
$pink-7: colorPalette($pink, 7);
$pink-8: colorPalette($pink, 8);
$pink-9: colorPalette($pink, 9);
$pink-10: colorPalette($pink, 10);

$red: #f5222d;
$red-1: colorPalette($red, 1);
$red-2: colorPalette($red, 2);
$red-3: colorPalette($red, 3);
$red-4: colorPalette($red, 4);
$red-5: colorPalette($red, 5);
$red-6: $red;
$red-7: colorPalette($red, 7);
$red-8: colorPalette($red, 8);
$red-9: colorPalette($red, 9);
$red-10: colorPalette($red, 10);

$orange: #fa8c16;
$orange-1: colorPalette($orange, 1);
$orange-2: colorPalette($orange, 2);
$orange-3: colorPalette($orange, 3);
$orange-4: colorPalette($orange, 4);
$orange-5: colorPalette($orange, 5);
$orange-6: $orange;
$orange-7: colorPalette($orange, 7);
$orange-8: colorPalette($orange, 8);
$orange-9: colorPalette($orange, 9);
$orange-10: colorPalette($orange, 10);

$yellow: #fadb14;
$yellow-1: colorPalette($yellow, 1);
$yellow-2: colorPalette($yellow, 2);
$yellow-3: colorPalette($yellow, 3);
$yellow-4: colorPalette($yellow, 4);
$yellow-5: colorPalette($yellow, 5);
$yellow-6: $yellow;
$yellow-7: colorPalette($yellow, 7);
$yellow-8: colorPalette($yellow, 8);
$yellow-9: colorPalette($yellow, 9);
$yellow-10: colorPalette($yellow, 10);

$volcano: #fa541c;
$volcano-1: colorPalette($volcano, 1);
$volcano-2: colorPalette($volcano, 2);
$volcano-3: colorPalette($volcano, 3);
$volcano-4: colorPalette($volcano, 4);
$volcano-5: colorPalette($volcano, 5);
$volcano-6: $volcano;
$volcano-7: colorPalette($volcano, 7);
$volcano-8: colorPalette($volcano, 8);
$volcano-9: colorPalette($volcano, 9);
$volcano-10: colorPalette($volcano, 10);

$geekblue: #2f54eb;
$geekblue-1: colorPalette($geekblue, 1);
$geekblue-2: colorPalette($geekblue, 2);
$geekblue-3: colorPalette($geekblue, 3);
$geekblue-4: colorPalette($geekblue, 4);
$geekblue-5: colorPalette($geekblue, 5);
$geekblue-6: $geekblue;
$geekblue-7: colorPalette($geekblue, 7);
$geekblue-8: colorPalette($geekblue, 8);
$geekblue-9: colorPalette($geekblue, 9);
$geekblue-10: colorPalette($geekblue, 10);

$lime: #a0d911;
$lime-1: colorPalette($lime, 1);
$lime-2: colorPalette($lime, 2);
$lime-3: colorPalette($lime, 3);
$lime-4: colorPalette($lime, 4);
$lime-5: colorPalette($lime, 5);
$lime-6: $lime;
$lime-7: colorPalette($lime, 7);
$lime-8: colorPalette($lime, 8);
$lime-9: colorPalette($lime, 9);
$lime-10: colorPalette($lime, 10);

$gold: #faad14;
$gold-1: colorPalette($gold, 1);
$gold-2: colorPalette($gold, 2);
$gold-3: colorPalette($gold, 3);
$gold-4: colorPalette($gold, 4);
$gold-5: colorPalette($gold, 5);
$gold-6: $gold;
$gold-7: colorPalette($gold, 7);
$gold-8: colorPalette($gold, 8);
$gold-9: colorPalette($gold, 9);
$gold-10: colorPalette($gold, 10);

@function hsv($h-hsv, $s-hsv, $v-hsv, $a: 1) {
  @if $v-hsv == 0 {
    @return hsla(0, 0, 0, $a)
  }
  @else {
    $l-hsl: ($v-hsv/2) * (2 - ($s-hsv/100));
    $s-hsl: ($v-hsv * $s-hsv) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
    @return hsla($h-hsv, $s-hsl, $l-hsl, $a);
  }
}